@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h2>Configuration</h2>

<hr />

<h3>Command-line Configuration</h3>
<p>@ViewBag.CommandLineConfig</p>
<p>@ViewBag.ConnectionString</p>

<h3>INI File Configuration</h3>
<p>@ViewBag.INIConfig</p>

<h3>Json File Configuration</h3>
<p>@ViewBag.JsonConfig</p>

<h3>Xml File Configuration</h3>
<p>@ViewBag.XmlConfig</p>

<h3>Key-per-file Configuration</h3>
<p>@ViewBag.KeyPerFileConfig</p>

<h3>Memory Configuration</h3>
<p>@ViewBag.InMemoryConfig</p>

<h3>Bind to a class</h3>
<p>@ViewBag.StarshipConfig</p>

<h3>Bind to an object graph</h3>
<p>@ViewBag.TvShowConfig</p>

<h3>Bind an array to a class</h3>
<p>@ViewBag.ArrayConfig</p>
<p>@ViewBag.JsonArrayConfig</p>

<h3>Entity Framework Custom Configuration Provier</h3>
<p>@ViewBag.EFConfiguration</p>

<h3>Inject Configuration</h3>
<p>quote1: @Configuration["quote1"]</p>