@using Microsoft.Extensions.Options
@using ASPNETCoreFundamentals.Options

@inject IOptionsMonitor<MyOptions> OptionAccessor

<h2>Options</h2>

<hr />

<p>@ViewBag.SampleOptions</p>
<p>@ViewBag.SimpleOptionsWithDelegateConfig</p>
<p>@ViewBag.SubOptions</p>
<p>@ViewBag.SnapshotOptions</p>
<p>@ViewBag.NamedOptions</p>

<h2>Options injected into the view</h2>
<p><b>Option1: </b> @OptionAccessor.CurrentValue.Option1</p>
<p><b>Option2: </b> @OptionAccessor.CurrentValue.Option2</p>